.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    font-weight: bold;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
}


.contenedor-imagen {
    width: 500px;
    height: auto;
    text-align: center;
    background: #000;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.nombre {
    font-size: 20px;
    color: white;
}

.imagen {
    width: 300px;
    height: auto;
    border-radius: 50%;
    padding: 40px;
}
.descripcion {
    color: antiquewhite;
}
