.nav{
    background: #f0f0f0;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 32px;
    padding: 20px 10%;
}
.ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
a:hover{
    color: #af6464 ;
}

a{
    color: black;
}
